body{
    background-color: #343434;
    font-family: sans-serif;
    color: white;
    
}

.contenedor{
    width:auto;
    height: 1000px;
    
}
 .contenedormenu{
    width: 20%;
    height: 100%;
    float: left;

 }

.textmenu{
    color:white;
    margin-left: 20px;
    
}

.textmenu:hover{
    color: rgb(207, 207, 207);
}

.contenedortexto{
    width:75%;
    height: 25%;
    float: left;
}

.text{
    margin-left: 10%;
    margin-right: 10%;
}